*{
    font-family: 'Montserrat', sans-serif;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

:root{
    --primaria: rgb(0, 54, 222);
    --primaria-claro: rgb(63,104,255);
    --secundaria:  orange;

    --verde: rgb(0, 218, 0);

    --gradiente-radial-primario: radial-gradient(circle, rgba(63,104,255,1) 70%, rgba(52,81,193,1) 100%, rgba(0,54,222,1) 100%);
    --branco: white;
    --preto: black;
}

::selection{
    color: white;
    background-color: rgb(64, 5, 201);
}

body{
    scroll-behavior: smooth;
}

/* Seção 1 */

.section-1{
    padding: 20px 0 150px 0 !important;

    height: auto;
    background-color: var(--primaria);
}

.section-1 .row{
    width: 100%;
    box-sizing: border-box !important;
    margin: 0 !important;
}

/* Coluna Texto */

.col-texto-s1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;

    height: 100vh;
}

.texto-s1{
    margin-top: 80px;
    width: 90%;
}

.texto-s1 h2,
.texto-s1 small,
.texto-s1 p{
    color: var(--branco);
    text-shadow: rgba(0, 0, 0, 0.300) 0 0 60px;
}

.texto-s1 h2{
    font-weight: bold;
    font-size: 3rem;    

    line-height: 4rem;
    margin: 0;
    color: var(--primaria);
}
.texto-s1 h2 span{
    background-color: var(--secundaria);
}
.texto-s1 small{
    font-size: 2.2rem;
    font-weight: lighter;

    background-color: none !important;
    color: var(--branco);
}
.texto-s1 p{
    padding-right: 60px;
    font-weight: 600;
    font-size: 1.4rem;
}

.img-s1 img{
    width: 80%;
}

/* Coluna Formulario */

.col-formulario-s1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    height: 100vh;
}

.logo-s1-resp{
    display: none;
}

.logo-s1{
    display: flex;
    justify-content: center;
    width: 70%;
}

.logo-s1 img{
    width: 50%;
    height: auto;
    
    margin-bottom: 20px;
}

.formulario-s1{
    background: var(--secundaria);
    min-width: 300px;
    max-width: 450px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.300) 0 0 20px 0;
}

.formulario-s1 form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario-s1 form p{
    padding: 10px 45px;
    color: var(--branco);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
}

.formulario-s1 form .f-s1-input{
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 3px;

    margin-bottom: 20px;

    text-align: center;
    
    transition: .2s ease-out;
}
.formulario-s1 form .f-s1-input:focus{
    box-shadow: var(--primaria-claro) 0 0 10px 0;
}
.formulario-s1 form .f-s1-button{
    width: 90%;
    height: 70px;
    border: 2px var(--primaria) solid;
    border-radius: 3px;
    background-color: var(--primaria);

    cursor: pointer;
    margin-bottom: 10px;

    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--branco);

    transition: .4s ease-out;
}
.formulario-s1 form .f-s1-button:hover{
    color: var(--primaria);
    background-color: rgba(255, 255, 255, 0);    
}

/* Seção 2 */

.section-2{
    position: relative;

    margin: 160px 0;
    height: auto;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.section-2::before{
    background-image: url(../images/banner-s2.png);
    background-size: cover;
    height: 780px;
    content: '';
    position: absolute;
    left: 0;
    top: -300px;
    right: 0;
    bottom: 0;
    opacity: 1;
}

/* Coluna Texto */

.col-texto-s2{
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.col-texto-s2 .texto-s2{
    padding: 0 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;

    text-align: right;
    color: var(--branco);
}

.texto-s2 h2{
    font-size: 3.5rem;
    font-weight: bold;
}


.texto-s2 p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.texto-s2 p span{
    background-color: var(--primaria) !important;
}

.col-img-s2{
    position: relative;
}

.img-s2{
    position: absolute;
    top: 0;
    max-height: 480px;
    overflow: hidden;
}

.img-s2 img{
    margin: 0 auto;
    width: 70%;
    z-index: -23;
    display: block;
}

/* Seção 3 */

.section-3{
    background: var(--gradiente-radial-primario);
    z-index: 40;
}

.section-3 .lista-s3{
    padding: 60px 0;
}

.section-3 .lista-s3 h2{
    color: var(--branco);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.section-3 .lista-s3 h2 span{
    color: var(--secundaria);
    text-decoration: var(--secundaria) underline;
}

.section-3 .lista-s3 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 40px auto;
    width: 80%;
}

.section-3 .lista-s3 ul li{
    display: flex;
    flex-direction: row;

    width: 90%;
    margin-bottom: 20px;

    list-style: none !important;
    font-size: 1.2rem;
    color: var(--branco);
}

.section-3 .lista-s3 ul li span{
    display: flex;
    align-items: center;
    margin-right: 20px;

    font-size: 2.4rem;
    color: var(--secundaria);
}

.bg-img-s3{
    position: relative;

    height: 550px;
}

.bg-img-s3 img{
    position: absolute;
    width: auto;
    max-height: 700px;
    top: -40px;
    right: 0;
    z-index: 100;
}

/* Section 4 */

.section-4{
    background-color: var(--secundaria);
}

.section-4 .lista-s4{
    padding: 60px 0;
    box-sizing: border-box;
}

.section-4 .lista-s4 h2{
    color: var(--branco);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    margin: 30px 0;
}

.section-4 .lista-s4 h2 span{
    color: var(--primaria);
    text-decoration: var(--primaria) underline;
    margin: 30px 0;
}

.section-4 .lista-s4 .ul-s4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: 0 !important;
}

.section-4 .lista-s4 .ul-s4 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 50%;
}

.section-4 .lista-s4 .ul-s4 ul li{
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 20px;

    list-style: none !important;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--branco);
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.514);
}

.section-4 .lista-s4 .ul-s4 ul li span{
    display: flex;
    align-items: center;
    margin-right: 20px;

    font-size: 2.4rem;
    color: var(--primaria);
}

.bg-img-s4{
    position: relative;
    height: 613px;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.bg-img-s4 img{
    max-height: 600px;
    width: auto;
}


.bg-img-s4::before{
    position: absolute;
    right: 0;
    left: 120px;
    bottom: 0;
    content: "";
    height: 660px;
    background-image: url(../images/img-s4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 0;
}

/* Btn Wpp */

.section-wpp{
    background-color: var(--branco);
}

.section-wpp .texto-wpp{
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-wpp .texto-wpp p{
    width: 60%;
    margin-bottom: 60px;

    color: var(--secundaria);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    line-height: 4rem;
}

.section-wpp .texto-wpp p span{
    color: var(--primaria);
}

.section-wpp .texto-wpp .btn-wpp{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    height: 80px;
    width: 50%;

    background-color: var(--verde);

    font-size: 2.6rem;
    font-weight: 700;
    color: var(--branco);
    text-transform: uppercase;
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.300) 0 0 60px 0;

    border: 2px var(--verde) solid;
    transition: .4s ease-out;
}
.section-wpp .texto-wpp .btn-wpp:hover{
    color: var(--verde);
    background-color: rgba(255, 255, 255, 0);   
}

.section-wpp .texto-wpp .btn-wpp span{
    font-size: 3rem;
    margin: 0 20px;
}

/* Seção 5 */

.section-5 .titulo .h2-s5{
    margin: 80px auto;
}

.section-5 .titulo .h2-s5 h2{
    color: var(--branco);
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
}

.section-5 .conteudo{
    height: 1454px;
    background: rgb(255,100,72);
    background: linear-gradient(45deg, rgba(255,100,72,1) 0%, rgba(250,195,0,1) 100%);
}

.section-5 .conteudo .background-s5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    box-sizing: border-box;
    margin-bottom: 80px;

	mix-blend-mode: hard-light;
    background-image: url(../images/bg-s5.png);
    background-size: cover;
}

.card-s5{
    max-width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    box-sizing: border-box;

    margin: 10px;

    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.200) 0 0 30px 0;
    background-color: grey;
}

.card-s5 .icon-s5{
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 35px 0;
}

.card-s5 .icon-s5 img{
    width: 25%;
    height: auto;
    
    margin: auto 0;
}

.card-s5 .sp{
    width: 100%;
    height: 157px;
}

.card-s5 .sp img{
    width: 50%;
}

.card-s5 h3{
    margin: 20px 0;
    color: var(--branco);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.card-s5 p{
    font-weight: 600;
    font-size: 1rem;
    color: var(--branco);

    text-align: center;

    width: 80%;
}

/* Section 6 */

.section-6{
    padding: 60px 0;
    box-sizing: border-box !important;
    background: rgb(255,100,72);
    background: linear-gradient(45deg, rgba(255,100,72,1) 0%, rgba(250,195,0,1) 100%);
}

.section-6 .titulo,
.section-6 .lista-s6{
    width: 100%;
}

.section-6 .titulo p{
    margin-left: 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

    padding: 0 30px;
    color: var(--branco);
    font-size: 3rem;
    font-weight: 600;
    background-color: var(--primaria);
}

.section-6 .lista-s6{
    margin-top: 50px;
}

.section-6 .lista-s6 li{
    color: var(--branco);
    font-size: 1.4rem;

    width: 80%;
    margin-bottom: 20px;
}

.section-6 .lista-s6 .ul-s6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style-type: decimal;
}

/* Section 7 */

.section-7{
    background-color: var(--primaria);
}

.section-7 .texto-s7{
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-7 .texto-s7 h3{
    width: 70%;

    color: var(--branco);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.section-7 .texto-s7 p{
    width: 60%;
    margin-bottom: 60px;

    color: var(--branco);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.section-7 .texto-s7 .btn-s7{
    margin: 0 auto;
    height: 80px;
    width: 50%;

    background-color: var(--secundaria);

    font-size: 2rem;
    font-weight: 600;
    color: var(--branco);
    text-transform: uppercase;

    box-shadow: rgba(0, 0, 0, 0.300) 0 0 60px 0;

    border: 2px var(--secundaria) solid;
    transition: .4s ease-out;
}
.section-7 .texto-s7 .btn-s7:hover{
    color: var(--secundaria);
    background-color: rgba(255, 255, 255, 0);   
}

/* Seção 8 */

.section-8{
    padding-top: 20px !important;
    padding: 0;

    height: auto;
    background-image: url(../images/banner-s8.png);
    background-size: cover;
    background-position-x: center;
}

.section-8 .row{
    width: 100%;
    box-sizing: border-box !important;
    margin: 0 !important;
}

/* Coluna Texto */

.col-texto-s8{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;

    height: 100vh;
}

.texto-s8{
    width: 100%;
}

.texto-s8 h3{
    color: var(--primaria);
    font-weight: bold;
    font-size: 2.4rem;

    text-shadow: rgba(0, 0, 0, 0.300) 0 0 60px;
    text-align: left;

    margin: 0 0 0 auto;
    width: 80% !important;
}

.tempo-s8{
    margin-top: 25px;
}

.tempo-s8 h3{
    margin: 0 auto;
    width: 50%;

    padding: 10px;
    font-weight: 600;
    font-size: 2.8rem;
    text-align: center;
    color: red;
    background-color: var(--branco);
}

/* Coluna Formulario */

.col-formulario-s8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    height: 100vh;
}

.logo-s8-resp{
    display: none;
}

.logo-s8{
    display: flex;
    justify-content: center;
    width: 70%;
}

.logo-s8 img{
    width: 50%;
    height: auto;
    
    margin-bottom: 20px;
}

.formulario-s8{
    background: var(--primaria);
    min-width: 300px;
    max-width: 450px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.300) 0 0 20px 0;
}

.formulario-s8 form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario-s8 form p{
    padding: 10px 45px;
    color: var(--branco);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
}

.formulario-s8 form .f-s8-input{
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 3px;

    margin-bottom: 20px;

    text-align: center;
    
    transition: .2s ease-out;
}
.formulario-s8 form .f-s8-input:focus{
    box-shadow: var(--branco) 0 0 10px 0;
}

.formulario-s8 form .f-s8-button{
    width: 90%;
    height: 70px;
    border: 2px var(--secundaria) solid;
    border-radius: 3px;
    background-color: var(--secundaria);

    cursor: pointer;
    margin-bottom: 10px;

    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--branco);

    transition: .4s ease-out;
}
.formulario-s8 form .f-s8-button:hover{
    color: var(--secundaria);
    background-color: rgba(255, 255, 255, 0);    
}

/* Smartphones */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Seção 1 */

    .section-1{ /**/
        padding: 0 !important;
        height: auto;
    }
    /* Coluna Texto */

    .col-texto-s1{
        height: auto !important;
        margin-bottom: 25px !important;
    }

    .col-texto-s1 .row{
        width: 100% !important;
    }

    .logo-s1{
        display: none !important;
    }

    .logo-s1-resp{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo-s1-resp img{
        width: 50%;
        height: auto;
        
        margin: 20px 0 !important;
    }

    .texto-s1{
        margin-top: 25px !important;
        width: 100% !important;
        text-align: center;
    }

    .texto-s1 h2{
        font-size: 2.4rem !important;
        text-align: center !important;
        line-height: 3.2rem;
    }
    .texto-s1 small{
        font-size: 1.2rem !important;
        text-align: center !important;
        margin: 0 auto !important;
    }
    .texto-s1 p{
        padding-right: 0 !important;
        text-align: center !important;
        font-size: 1.2rem !important;
    }

    .img-s1{
        display: none;
    }

    /* Coluna Formulario */

    .col-formulario-s1{
        height: auto !important;
        margin-bottom: 100px !important;

        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .formulario-s1{ /**/
        width: 90%;
        min-width: 300px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.300) 0 0 20px 0;
    }

    .formulario-s1 form{ /**/
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formulario-s1 form p{
        padding: 10px 15px !important;
        font-size: 1rem !important;
        line-height: normal !important;
    }

    .formulario-s1 form .f-s1-input{
        height: 50px !important;
        margin-bottom: 10px !important;
    }

    .formulario-s1 form .f-s1-button{
        font-size: 1.2rem;
        height: 60px !important;
    }

    .formulario-s1 form .f-s1-button:active{
        color: var(--secundaria) !important;
        background-color: rgba(255, 255, 255, 0) !important;    
    }

    /* Seção 2 */

    .section-2{
        position: relative;

        height: auto !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;

        margin: 0 auto !important;
    }
    .section-2::before{
        background-image: url(../images/banner-s2.png);
        background-size: cover;
        height: auto !important;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -160px;
        opacity: 1;
    }

    /* Coluna Texto */

    .col-texto-s2{
        margin-top: 50px;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0 !important;
    }

    .col-texto-s2 .texto-s2{
        width: 100% !important;

        padding: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        color: var(--branco);
    }

    .texto-s2 h2{
        font-size: 2.4rem !important;
        margin-bottom: 50px !important;
    }
    .texto-s2 p{
        padding: 50px 0 !important;
        font-size: 1.2rem !important;
        line-height: 1.7rem !important;
    }

    .col-img-s2{
        display: none;
    }

    /* Seção 3 */

    .section-3 .lista-s3 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 40px auto;
        padding: 0 !important;
        width: 100%;
    }

    .section-3 .lista-s3 ul li{
        display: flex;
        flex-direction: row;

        width: 90%;
        margin-bottom: 20px;

        list-style: none !important;
        font-size: 1.2rem;
        color: var(--branco);
    }

    .section-3 .lista-s3 ul li span{
        display: flex;
        align-items: center;
        margin-right: 20px;

        font-size: 2.4rem;
        color: var(--secundaria);
    }

    .bg-img-s3{
        margin-top: 120px;
        top: 0 !important;
        bottom: 0 !important;
        height: auto !important;
        min-height: 300px;
    }

    .bg-img-s3 img{
        width: 100%;
    }   


    /* Seção 4 */
    
    .section-4 .lista-s4 .ul-s4 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    
    .section-4 .lista-s4 .ul-s4 ul li{
        display: flex;
        flex-direction: row;
    
        width: 90%;
        margin-bottom: 20px;
    
        list-style: none !important;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--branco);
        text-shadow: 0 0 50px rgba(0, 0, 0, 0.514);
    }
    
    .section-4 .lista-s4 .ul-s4 ul li span{
        display: flex;
        align-items: center;
        margin-right: 20px;
    
        font-size: 2.4rem;
        color: var(--primaria);
    }
    
    .bg-img-s4{
        margin-top: 0;
        top: 0 !important;
        height: auto !important;
        min-height: 300px;
    }

    .bg-img-s4::before{
        position: absolute;
        right: 0;
        left: 15%;
        bottom: 0;
        content: "";
        height: 100%;
        max-height: 350px;
        background-image: url(../images/img-s4.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        z-index: 0;
    }

    .bg-img-s4 img{
        width: 100%;
    }

    /* Btn wpp */
    
    .section-wpp .texto-wpp{
        padding: 60px 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .section-wpp .texto-wpp p{
        width: 90% !important;
        margin-bottom: 60px;

        font-size: 2rem !important;
        line-height: normal !important;
    }
    
    .section-wpp .texto-wpp .btn-wpp{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    
        margin: 0 auto !important;
        width: 90% !important;
    
        background-color: var(--verde);

        padding: 20px;
        font-size: 1rem;
        font-weight: 700;
        color: var(--branco);
        text-transform: uppercase;
    
        box-shadow: rgba(0, 0, 0, 0.300) 0 0 60px 0;
    
        border: 2px var(--verde) solid;
    }
    .section-wpp .texto-wpp .btn-wpp:hover{
        color: var(--verde);
        background-color: rgba(255, 255, 255, 0);   
    }
    
    .section-wpp .texto-wpp .btn-wpp span{
        font-size: 2rem;
        margin: 0 !important;
        margin-right: 10px !important;
    }

    /* Seção 5 */
    
    .section-5 .conteudo{
        height: auto;
        background: rgb(255,100,72);
        background: linear-gradient(45deg, rgba(255,100,72,1) 0%, rgba(250,195,0,1) 100%);
    }
    
    .section-5 .conteudo .background-s5{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 50px;
        box-sizing: border-box;
        margin-bottom: 80px;
    
        background-image: url(../images/bg-s5.png);
        background-size: cover;
    }

    /* Seção 6 */

    .section-6{
        padding: 60px 0;
        box-sizing: border-box !important;
        background: rgb(255,100,72);
        background: linear-gradient(45deg, rgba(255,100,72,1) 0%, rgba(250,195,0,1) 100%);
    }
    
    .section-6 .titulo,
    .section-6 .lista-s6{
        width: 100%;
    }
    
    .section-6 .titulo p{
        margin-left: 10px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
    
        padding: 0 30px;
        color: var(--branco);
        font-size: 2rem;
        font-weight: 600;
        background-color: var(--primaria);
    }
    
    .section-6 .lista-s6{
        margin-top: 50px;
    }
    
    .section-6 .lista-s6 li{
        color: var(--branco);
        font-size: 1.4rem;
    
        width: 80%;
        margin-bottom: 20px;
    }
    
    .section-6 .lista-s6 .ul-s6{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        list-style-type: decimal;
    }

    /* Seção 7 */
    
    .section-7 .texto-s7 h3{
        width: 100%;
    
        color: var(--branco);
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
    
    .section-7 .texto-s7 p{
        width: 90%;
        margin: 60px 0;
    
        color: var(--branco);
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
    
    .section-7 .texto-s7 .btn-s7{
        margin: 0 auto;
        width: 90%;
    
        background-color: var(--secundaria);
    
        padding: 20px;
        font-size: 1rem;
        font-weight: 600;
        color: var(--branco);
        text-transform: uppercase;
    
        box-shadow: rgba(0, 0, 0, 0.300) 0 0 60px 0;
    
        border: 2px var(--secundaria) solid;
    }

    /* Seção 8 */

    /* Coluna Texto */

    .texto-s8 h3{
        color: var(--primaria);
        font-weight: 600;
        font-size: 1.6rem;

        text-shadow: rgba(0, 0, 0, 0.300) 0 0 60px;
        text-align: center;

        margin: 0 auto !important;
        width: 80% !important;
    }


    .tempo-s8 h3{
        margin: 0 auto;
        width: 80%;

        padding: 10px;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
        color: red;
        background-color: var(--branco);
    }

    /* Coluna Formulario */

    .col-formulario-s8{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        height: auto;
    }

    .logo-s8-resp{
        display: none;
    }

    .logo-s8{
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .logo-s8 img{
        width: 50%;
        height: auto;
        
        margin-bottom: 20px;
    }

    .col-formulario-s8{
        height: auto !important;
        margin-bottom: 100px !important;

        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .formulario-s8{ /**/
        width: 90%;
        min-width: 300px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.300) 0 0 20px 0;
    }

    .formulario-s8 form{ /**/
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formulario-s8 form p{
        padding: 10px 15px !important;
        font-size: 1rem !important;
        line-height: normal !important;
    }

    .formulario-s8 form .f-s8-input{
        height: 50px !important;
        margin-bottom: 10px !important;
    }

    .formulario-s8 form .f-s8-button{
        font-size: 1.2rem;
        height: 60px !important;
    }

    .formulario-s8 form .f-s8-button:active{
        color: var(--secundaria) !important;
        background-color: rgba(255, 255, 255, 0) !important;    
    }


}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    
    /* Seção 1 */

    .section-1{
        padding: 0 !important;
        height: auto;
    }

    /* Coluna Texto */

    .col-texto-s1{
        height: auto !important;
        margin-bottom: 50px !important;
        text-align: center;
    }

    .col-texto-s1 .row{
        width: 100% !important;
    }

    .logo-s1{
        display: none !important;
    }

    .logo-s1-resp{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo-s1-resp img{
        width: 35%;
        height: auto;
        
        margin: 20px 0 !important;
    }

    .texto-s1{
        width: 80% !important;
        margin: 0 auto !important;
    }

    .texto-s1 h1{
        font-size: 2.4rem !important;
        text-align: center !important;
    }
    .texto-s1 h1 small{
        font-size: 1.2rem !important;
        text-align: center !important;
    }
    .texto-s1 p{
        padding-right: 0 !important;
        text-align: center !important;
        font-size: 1.2rem !important;
    }

    /* Coluna Formulario */

    .col-formulario-s1{
        height: auto !important;
        margin: 0 auto;
        margin-bottom: 150px !important;

        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .formulario-s1{ /**/
        width: 100%;
        min-width: 300px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.300) 0 0 20px 0;
    }

    .formulario-s1 form{ /**/
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formulario-s1 form p{
        padding: 10px 15px !important;
        font-size: 1rem !important;
        line-height: normal !important;
    }

    .formulario-s1 form .f-s1-input{
        height: 50px !important;
        margin-bottom: 10px !important;
    }

    .formulario-s1 form .f-s1-button{
        font-size: 1.2rem;
        height: 60px !important;
    }

    .formulario-s1 form .f-s1-button:active{
        color: var(--secundaria) !important;
        background-color: rgba(255, 255, 255, 0) !important;    
    }

    /* Seção 2 */

    .section-2{
        position: relative;

        height: auto !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;

        margin: 0 auto !important;
    }
    .section-2::before{
        background-image: url(../images/banner-s2.png);
        background-size: cover;
        height: auto !important;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -120px;
        opacity: 1;
    }

    /* Coluna Texto */

    .col-texto-s2{
        margin-top: 50px;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0 !important;
    }

    .col-texto-s2 .texto-s2{
        width: 100% !important;

        padding: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        color: var(--branco);
    }

    .texto-s2 h2{
        font-size: 2.4rem !important;
        margin-bottom: 50px !important;
    }
    .texto-s2 p{
        padding: 50px 0 !important;
        font-size: 1.2rem !important;
        line-height: 1.7rem !important;
    }

    /* Imagem */

    .col-img-s2{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .img-s2{
        position: relative;
    }

    /* Seção 3 */

    .bg-img-s3{
        display: none;
    }

    /* Seção 4 */

    .bg-img-s4{
        display: none !important;
    }

    /* Btn wpp */

    .texto-wpp p{
        font-size: 2.4rem !important;
        line-height: 2.4rem !important;
    }

    .texto-wpp .btn-wpp{
        width: 70% !important;
    }

    /* Seção 5 */

    .section-5 .titulo .h2-s5{
        margin: 80px auto;
    }
    
    .section-5 .titulo .h2-s5 h2{
        color: var(--branco);
        font-size: 2.4rem;
        font-weight: 600;
        text-align: center;
    }
    
    .section-5 .conteudo{
        height: auto;
    }

    /* Seção 7 */

    .section-7 .texto-s7 .btn-s7{ 
        min-width: 550px;
    } 

    /* Coluna Formulario */

    .col-formulario-s8{
        height: auto !important;
        margin: 0 auto;
        margin-bottom: 150px !important;

        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .formulario-s8{
        width: 100%;
        min-width: 300px;
        max-width: 400px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.300) 0 0 20px 0;
    }

    .formulario-s8 form{ /**/
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formulario-s8 form p{
        padding: 10px 15px !important;
        font-size: 1rem !important;
        line-height: normal !important;
    }

    .formulario-s8 form .f-s8-input{
        height: 50px !important;
        margin-bottom: 10px !important;
    }

    .formulario-s8 form .f-s8-button{
        font-size: 1.2rem;
        height: 60px !important;
    }

    .formulario-s8 form .f-s8-button:active{
        color: var(--secundaria) !important;
        background-color: rgba(255, 255, 255, 0) !important;    
    }
}

/* Telas Pequenas */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1340px){
    /* Seção 1 */

    .section-1{
        padding: 0 !important;
        height: 120vh !important;
    }

    /* Coluna Texto */

    .col-texto-s1{
        height: auto !important;
        margin-bottom: 50px !important;
        text-align: center;
    }

    .col-texto-s1 .row{
        width: 100% !important;
    }

    .logo-s1{
        display: none !important;
    }

    .logo-s1-resp{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo-s1-resp img{
        width: 35%;
        height: auto;
        
        margin: 20px 0 !important;
    }

    .texto-s1{
        width: 80% !important;
        margin: 0 auto !important;
    }

    .texto-s1 h2{
        font-size: 2rem !important;
        text-align: center !important;
        line-height: 2.6rem !important;
    }
    .texto-s1 small{
        font-size: 1.4rem !important;
        text-align: center !important;
    }
    .texto-s1 p{
        padding-right: 0 !important;
        text-align: center !important;
        font-size: 1rem !important;
    }

    /* Coluna Formulario */

    .col-formulario-s1{
        height: auto !important;
        margin: auto 0 !important;

        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .formulario-s1{ /**/
        min-width: 300px;
        max-width: 400px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.300) 0 0 20px 0;
    }

    .formulario-s1 form{ /**/
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formulario-s1 form p{
        padding: 10px 15px !important;
        font-size: 1rem !important;
        line-height: normal !important;
    }

    .formulario-s1 form .f-s1-input{
        height: 50px !important;
        margin-bottom: 10px !important;
    }

    .formulario-s1 form .f-s1-button{
        font-size: 1.2rem;
        height: 60px !important;
    }

    .formulario-s1 form .f-s1-button:active{
        color: var(--secundaria) !important;
        background-color: rgba(255, 255, 255, 0) !important;    
    }

    /* Seção 2 */

    .section-2{
        position: relative;

        height: auto !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;

        margin: 0 auto !important;
    }
    .section-2::before{
        background-image: url(../images/banner-s2.png);
        background-size: cover;
        height: auto !important;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -120px;
        opacity: 1;
    }

    /* Coluna Texto */

    .col-texto-s2{
        margin-top: 50px;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0 !important;
    }

    .col-texto-s2 .texto-s2{
        width: 100% !important;

        padding: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        color: var(--branco);
    }

    .texto-s2 h2{
        font-size: 2.4rem !important;
        margin-bottom: 0 !important;
    }
    .texto-s2 p{
        padding: 50px 0 !important;
        font-size: 1.2rem !important;
        line-height: 1.7rem !important;
    }

    /* Imagem */

    .col-img-s2{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .img-s2{
        position: relative;
    }

    /* Seção 3 */
    
    .section-3 .lista-s3{
        padding: 30px 0;
    }
    
    .section-3 .lista-s3 h2{
        color: var(--branco);
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }
    
    .section-3 .lista-s3 h2 span{
        color: var(--secundaria);
        text-decoration: var(--secundaria) underline;
    }
    
    .section-3 .lista-s3 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        padding: 0 !important;

        margin: 40px auto;
        width: 80%;
    }
    
    .section-3 .lista-s3 ul li{
        display: flex;
        flex-direction: row;
    
        width: 90%;
        margin-bottom: 20px;
    
        list-style: none !important;
        font-size: 1rem;
        color: var(--branco);
    }
    
    .section-3 .lista-s3 ul li span{
        display: flex;
        align-items: center;
        margin-right: 20px;
    
        font-size: 2.4rem;
        color: var(--secundaria);
    }
    
    .bg-img-s3{
        position: relative;
    
        height: 550px;
    }
    
    .bg-img-s3 img{
        width: auto;
        max-height: 600px;

        z-index: 100;
    }

    /* Seção 4 */

    .section-4{
        background-color: var(--secundaria);
    }
    
    .section-4 .lista-s4{
        padding: 30px 0;
        box-sizing: border-box;
    }
    
    .section-4 .lista-s4 h2{
        color: var(--branco);
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    
        margin: 30px 0;
    }
    
    .section-4 .lista-s4 h2 span{
        color: var(--primaria);
        text-decoration: var(--primaria) underline;
        margin: 30px 0;
    }
    
    .section-4 .lista-s4 .ul-s4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
        margin: 0 !important;
    }
    
    .section-4 .lista-s4 .ul-s4 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 50%;
    }
    
    .section-4 .lista-s4 .ul-s4 ul li{
        display: flex;
        flex-direction: row;
    
        width: 100%;
        margin-bottom: 20px;
    
        list-style: none !important;
        font-size: 1rem;
        font-weight: 600;
        color: var(--branco);
        text-shadow: 0 0 50px rgba(0, 0, 0, 0.514);
    }
    
    .section-4 .lista-s4 .ul-s4 ul li span{
        display: flex;
        align-items: center;
        margin-right: 20px;
    
        font-size: 2.4rem;
        color: var(--primaria);
    }
    
    .bg-img-s4{
        position: relative;
        height: 613px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bg-img-s4 img{
        position: relative;
        width: 100%;
    }
    
    
    .bg-img-s4::before{
        position: absolute;
        right: 0;
        left: 120px;
        bottom: 0;
        content: "";
        height: 600px;
        background-image: url(../images/img-s4.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    
        z-index: 10;
    }

    /* Btn wpp */

    .texto-wpp p{
        font-size: 2.4rem !important;
        line-height: 2.4rem !important;
    }

    .texto-wpp .btn-wpp{
        width: 70% !important;
    }

    /* Seção 5 */

    .section-5 .titulo .h2-s5{
        margin: 80px auto;
    }

    .section-5 .titulo .h2-s5 h2{
        color: var(--branco);
        font-size: 2.4rem;
        font-weight: 600;
        text-align: center;
    }

    .section-5 .conteudo{
        height: auto;
    }

    /* Seção 7 */

    .section-7 .texto-s7 .btn-s7{ 
        min-width: 550px;
    } 

    /* Seção 8 */
 
    /* Coluna Formulario */

    .col-texto-s8 .texto-s8 h3{
        font-size: 2rem !important;
    }

    .col-texto-s8 .tempo-s8 h3{
        font-size: 2rem !important;
    }

    .col-formulario-s8{
        height: auto !important;
        margin: auto 0 !important;

        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .formulario-s8{ /**/
        min-width: 300px;
        max-width: 400px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.300) 0 0 20px 0;
    }

    .formulario-s8 form{ /**/
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formulario-s8 form p{
        padding: 10px 15px !important;
        font-size: 1rem !important;
        line-height: normal !important;
    }

    .formulario-s8 form .f-s8-input{
        height: 50px !important;
        margin-bottom: 10px !important;
    }

    .formulario-s8 form .f-s8-button{
        font-size: 1.2rem !important;
        height: 60px !important;
    }
}

/* Telas Maiores*/
@media only screen  and (min-width : 1824px) {

    /* Seção 1 */

    .section-1{
        padding-bottom: 150px !important;
        padding-top: 20px !important;
        padding: 0;

        height: auto;
    }

    .section-1 .row{
        width: 100%;
        box-sizing: border-box !important;
        margin: 0 !important;
    }

    /* Coluna Texto */

    .col-texto-s1{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        box-sizing: border-box;

        height: 100vh;
    }

    .texto-s1{
        width: 50%;
    }

    .texto-s1 h1,
    .texto-s1 h1 small,
    .texto-s1 p{
        color: var(--primaria);
        text-shadow: rgba(0, 0, 0, 0.300) 0 0 60px;
    }

    .texto-s1 h1{
        font-weight: bold;
        font-size: 3rem;
    }
    .texto-s1 h1 small{
        font-size: 1.6rem;
    }
    .texto-s1 p{
        padding-right: 60px;
        font-weight: 600;
        font-size: 1.4rem;
    }

    /* Coluna Formulario */

    .col-formulario-s1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        box-sizing: border-box;

        height: 100vh;
    }

    .logo-s1-resp{
        display: none;
    }

    .logo-s1{
        display: flex;
        justify-content: center;
        width: 40%;
    }

    .logo-s1 img{
        width: 50%;
        height: auto;
        
        margin-bottom: 20px;
    }

    .formulario-s1{
        background: var(--secundaria);
        width: 50%;
        min-width: 300px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.300) 0 0 20px 0;
    }

    .formulario-s1 form{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formulario-s1 form p{
        padding: 10px 45px;
        color: var(--branco);
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .formulario-s1 form .f-s1-input{
        width: 90%;
        height: 60px;
        border: none;
        border-radius: 3px;

        margin-bottom: 20px;

        text-align: center;
        
        transition: .2s ease-out;
    }
    .formulario-s1 form .f-s1-input:focus{
        box-shadow: var(--secundaria) 0 0 10px 0;
    }
    .formulario-s1 form .f-s1-button{
        width: 90%;
        height: 70px;
        border: 2px var(--primaria) solid;
        border-radius: 3px;
        background-color: var(--primaria);

        cursor: pointer;
        margin-bottom: 10px;

        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        color: var(--branco);

        transition: .4s ease-out;
    }
    .formulario-s1 form .f-s1-button:hover{
        color: var(--primaria);
        background-color: rgba(255, 255, 255, 0);    
    }

    /* Seção 2 */

    .section-2{
        position: relative;

        margin: 100px 0;
        height: auto;
        min-height: 380px;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .section-2::before{
        background-image: url(../images/banner-s2.png);
        background-size: cover;
        height: 760px;
        content: '';
        position: absolute;
        left: 0;
        top: -70%;
        right: 0;
        bottom: 0;
        opacity: 1;

    }

    /* Coluna Texto */

    .col-texto-s2{
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .col-texto-s2 .texto-s2{
        padding: 0 2    0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        color: var(--branco);
    }

    .texto-s2 h2{
        font-size: 3.5rem;
        font-weight: bold;
    }
    .texto-s2 p{
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.4rem;
    }

    /* Coluna Imagem */

    .col-img-s2{
        display: flex;
        justify-content: center;

        min-height: 280px;
    }

    .img-s2{
        position: absolute;
        top: -35px;
        max-height: 480px;
        overflow: hidden;
    }
    
    .img-s2 img{
        margin: 0 auto;
        width: 70%;
        z-index: -23;
        display: block;
    }

    /* Seção 3 */

    .section-3{
        background: var(--gradiente-radial-primario);
        z-index: 40;
    }

    .section-3 .lista-s3{
        padding: 60px 0;
    }

    .section-3 .lista-s3 h2{
        color: var(--branco);
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }

    .section-3 .lista-s3 h2 span{
        color: var(--secundaria);
        text-decoration: var(--secundaria) underline;
    }

    .section-3 .lista-s3 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 40px auto;
        width: 80%;
    }

    .section-3 .lista-s3 ul li{
        display: flex;
        flex-direction: row;

        width: 90%;
        margin-bottom: 20px;

        list-style: none !important;
        font-size: 1.2rem;
        color: var(--branco);
    }

    .section-3 .lista-s3 ul li span{
        display: flex;
        align-items: center;
        margin-right: 20px;

        font-size: 2.4rem;
        color: var(--secundaria);
    }

    .bg-img-s3{
        position: relative;
        height: 550px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-img-s3 img{
        position: absolute;
        top: -80px;
        right: auto;
        z-index: 100;
    }

    /* Section 4 */

    .section-4{
        background-color: var(--secundaria);
    }

    .section-4 .lista-s4{
        padding: 60px 0;
        box-sizing: border-box;
    }

    .section-4 .lista-s4 h2{
        color: var(--branco);
        font-size: 3rem;
        font-weight: bold;
        text-align: center;

        margin: 30px 0;
    }

    .section-4 .lista-s4 h2 span{
        color: var(--primaria);
        text-decoration: var(--primaria) underline;
        margin: 30px 0;
    }

    .section-4 .lista-s4 .ul-s4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        margin: 0 !important;
    }

    .section-4 .lista-s4 .ul-s4 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 50%;
    }

    .section-4 .lista-s4 .ul-s4 ul li{
        display: flex;
        flex-direction: row;

        width: 100%;
        margin-bottom: 20px;

        list-style: none !important;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--branco);
        text-shadow: 0 0 50px rgba(0, 0, 0, 0.514);
    }

    .section-4 .lista-s4 .ul-s4 ul li span{
        display: flex;
        align-items: center;
        margin-right: 20px;

        font-size: 2.4rem;
        color: var(--primaria);
    }

    .bg-img-s4{
        position: relative;
        height: 613px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-img-s4 img{
        max-height: 600px;
        width: auto;
    }


    .bg-img-s4::before{
        position: absolute;
        right: 0;
        left: 120px;
        bottom: 0;
        content: "";
        height: 660px;
        background-image: url(../images/img-s4.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        z-index: 0;
    }

}
    